*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --var-black: hsl(0, 0%, 0%);
  --var-white: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--var-black);
  background-color: whitesmoke;
  height: 100vh;
  background-position: center;
}

.second-p,
.second-h2,
.mobile-design {
  display: none;
}

header {
  display: flex;
  position: relative;
  z-index: 999;
  width: inherit;
  height: 1rem;
  top: 2rem;
  bottom: 6rem;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
  padding: 0 0 0 7rem;
 
}

header div img {
  width: 5rem;
  height: auto;
}

.first-ul {
  display: flex;
  list-style: none;
  text-align: start;
  /* gap: 15px; */
 
}

.first-ul li {
  position: relative;
  text-align: start;
  margin-left: 20px;
}

li a {
  white-space: nowrap;
  color: var(--var-black);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  width: 3rem;
  gap: 0.6rem;
}

li a:is(:hover, :focus) {
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
}

.user-details {
  display: flex;
  gap: 25px;
  margin-left: -130px;
}

.user-info {
  margin-left: 400px;
}

.user-details a {
  color: hsl(0, 0%, 8%);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.user-details .register-btn {
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 9px;
  padding: 5px;
  width: 7rem;
}

ul li ul {
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}



/* first drop down */
.feature-arrow {
  transition: 0.5s ease;
  transform: rotate(180deg);
}

.nav-feature-list {
  display: none;
}

/* second drop down */
.company-arrow {
  transition: 0.5s ease;
  transform: rotate(180deg);
}

.nav-company-list {
  display: none;
}

.hamburger {
  width: 2rem;
  cursor: pointer;
  display: none;
}

.bar {
  height: 0.3rem;
  width: 2.8rem;
  background-color: var(--var-black);
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0;
  display: block;
}

/* section styling*/
section {
  margin-left: 15rem;
  display: flex;
  gap: 9.3rem;
  position: relative;
  color: hsl(0, 0%, 8%);
  font-weight: 400;

  padding: 0.1rem;
}

#desktop-design img {
  width: 520px;
  height: 560px;
  margin-top: 50px;
}

.first-h2 {
  font-size: 4rem;
  margin-top: 10rem;
  font-weight: 700;
}

.first-p {
  line-height: 1.3;
  font-size: 1.3rem;
  color: var(--var-black);
  margin-top: 1rem;
  margin-bottom: 4.2rem;
}

section a {
  background-color: var(--var-black);
  color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.3rem;
}

section a:hover {
  color: var(--var-black);
  background-color: var(--var-white);
  border: 2px solid var(--var-black);
}

#client-section {
  display: flex;
  margin-top: 5.7rem;
  justify-content: flex-start;
  gap: 1rem;
}

@media screen and (max-width: 767px) {
  .first-ul {
    flex-direction: column;
    text-align: center;
   top: -5rem;
    justify-content: space-around;
    height: 100vh;
    padding: 90px 80px 0 80px;
    right: 290%;
    z-index: 1;
    position: absolute;
    background-color: white;
    transition: 0.1s;
    margin-right: -75px;
  }

  .user-details {
    flex-direction: column;
  }

  .first-ul.active {
    right: 0;
  }

  nav .login-registter-link {
    display: flex;
    list-style: none;
    flex-direction: column;
    display: inherit;
    text-align: start;
    margin-left: 1rem;
  }

  .hamburger {
    display: block;
    margin: -110px 0 0 145px;
    padding-top: 80px;
    z-index: 5;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mobile-design {
    display: block;
    text-wrap: nowrap;
  }

  #desktop-design,
  .first-h2,
  .first-p {
    display: none;
  }

  .mobile-design img {
    display: block;
    width: 100vw;
    height: auto;
    margin: 30px 0 -80px -240px;
  }

  .second-h2 {
    display: block;
    font-size: 1.5rem;
    margin: -20px 0 25px -215px;
    font-weight: 600;
  }

  .second-p {
    color: var(--var-black);
    margin: 0 0 50px -208px;
    font-size: 1.2rem;
    font-weight: 400;
    text-wrap: nowrap;
    display: block;
  }

  #client-section {
    display: flex;
    margin-left: -215px;
    margin-top: 0px;
  }

  #client-section img {
    width: 70px;
    height: 20px;
  }

  .learn a {
    margin-left: -120px;
    text-wrap: nowrap;
  /* text-align: center;
   display: block;
   margin: 0 auto; */
  }

  .learn {
    margin: -10px 0 40px 0;
  }

  .logo-snap {
    margin: 0 0 40px -80px;
  }

  .user-info {
    margin: 0;

  }

  .user-info .user-details {
   margin-left: 40px;
  
  }

  .user-details .register-btn  {
   
     display: block;
     margin: 0 auto;
    text-align: center;
     width: 100%;
     padding: 10px 50px;
    }

}


@media screen and (min-width: 767px) and (max-width: 1023px) {
  .first-ul {
    flex-direction: column;
    text-align: center;
    top: -6rem;
    width: 100%;
    height: 100vh;
    padding: 90px 50px 0 50px;
    right: 290%;
    z-index: 1;
    position: absolute;
    background-color: white;
    transition: 0.1s;
    margin-right: -105px;
  
  }

  .user-details {
    flex-direction: column;
  }

  .first-ul.active {
    right: 0;
  }

  nav .login-registter-link {
    display: flex;
    list-style: none;
    flex-direction: column;
    display: inherit;
    text-align: start;
    margin-left: 1rem;
  }

  .hamburger {
    display: block;
    margin: -110px 0 0 475px;
    padding-top: 80px;
    z-index: 5;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mobile-design {
    display: block;
    text-wrap: nowrap;
  }

  #desktop-design,
  .first-h2,
  .first-p {
    display: none;
  }

  .mobile-design img {
    display: block;
    width: 100vw;
    height: auto;
    margin: 30px 0 -80px -240px;
  }

  .second-h2 {
    display: block;
    font-size: 2.5rem;
    margin: 0 0 25px -205px;
    font-weight: 600;
     text-align: center;
  }

  .second-p {
    color: var(--var-black);
    margin: 50px 0 70px -200px;
    font-size: 1.3rem;
    font-weight: 400;
   display: block;
   text-align: center;
  }

  #client-section {
    display: flex;
    justify-content: space-between;margin-left: -215px;
    margin-top: 70px;

    
  }

  #client-section img {
    width: 90px;
    height: 20px;
  }

  .learn a {
    margin-left: 80px;
    text-wrap: nowrap;
  
  }

  .learn {
    margin: -10px 0 40px 0;
  }

  .logo-snap {
    margin: 0 0 40px -80px;
  }

  .user-info {
    margin: 0  auto;
  }
}
